[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = {path = "./setup/coverage-5.2-cp37-cp37m-win_amd64.whl"}

[packages]
flask = "*"
requests = "*"
cx-oracle = {path = "./setup/cx_Oracle-8.0.0-cp37-cp37m-win_amd64.whl"}
sqlalchemy = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
lutils = "~=2.11.7.2"

[requires]
python_version = "3.7"
