{% extends 'base/base_inner.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        
    <div class="container-fluid" style="margin-top: 10px;">
      <div class="row">

        <div class="card border-primary">
          <div class="card-header">
            Basic Information
          </div>
          <div class="card-body">
            <!-- Customize body -->
            <!-- <h5 class="card-title">{{current_user.email}}</h5> -->
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">ID</th>
                  <td id="profileuserid">{{current_user.get_id()}}</td>
                </tr>
                <tr>
                  <th scope="row">Email</th>
                  <td id="profileuseremail">{{current_user.email}}</td>
                </tr>
                <tr>
                  <th scope="row">Fullname</th>
                  <td>
                    <input type="text" readonly style="border: none;" id="profilefullnameedit" value="{{current_user.fullname}}">
                    <sup><a href="#" id="profilefullnamelink" clas="editprofile">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </a></sup></td>
                </tr>
                <tr>
                  <th scope="row">Is Authenticated</th>
                  <td>{{current_user.is_authenticated}}</td>
                </tr>
                <tr>
                  <th scope="row">Is Active</th>
                  <td>{{current_user.is_active}}</td>
                </tr>
                <tr>
                  <th scope="row">Is Anonymous</th>
                  <td>{{current_user.is_anonymous}}</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="btn btn-sm btn-info btn-block" id="updateUserInfoBtn">Update</a>
            <p class="card-text text-right"><small class="text-muted">Last updated {{current_user.updated_date}}</small></p>
          </div>
        </div>

      </div>
    </div>

  </main>
  </div>
  </div>

  <!-- MODALS -->
  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>We will now do our Channel Switching <b><span id="modal1target" style="color: red;"></span></b>.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-danger" id="btnyes">Yes, do it!</button>
    </div>
  </div>
  </div>
  </div>

  <!-- OVERLAY -->
  <div class="overlay">
    <div class="overlayspinner">
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    </div>
    <p class="overlaytxt">Please wait while we do your command</p>
  </div>

{% endblock %}

{% block footer %}
  <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>   
{% endblock %}


  



    


