[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
request = "*"
cx-oracle = {path = "./setup/cx_Oracle-8.0.0-cp37-cp37m-win_amd64.whl"}
lutils = "*"
site = "*"
sqlalchemy = "*"
flask-alchemy = "*"
flask-sqlalchemy = "*"
mysqldb = "*"
mysqlclient = "*"
pytest = "*"
flaskr = "*"

[requires]
python_version = "3.7"
