{% extends 'base/base.html' %}

{% block title %}Login{% endblock %}

{% block topnav %}
  <!-- No topnav here -->
{% endblock %}

{% block content %}
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <!-- <img src="{{ url_for('static', filename='img/kcal.svg') }}" alt="" width="36" height="36"/> -->
      <h1 class="cover-heading">
        Permission <span style="color: red;">Denied</span>
      </h1>
      <p class="lead">You don't have enough permission(s) to access this page. Please contact <a href="admin@myflask.com">admin@myflask.com</a></p>
      <p class="lead">
        Please note:
        <ul>
        <li>admin@myflask.com/123456 -> Administrator</li>
        <li>user@myflask.com/123456  -> Normal user</li>
      </ul></p>
      <p class="lead">
        <a href="{{ url_for('index_blp.index') }}" class="btn btn-lg btn-primary"><span data-feather="home"></span></a>
        <a href="https://github.com/loitd/myflask" class="btn btn-lg btn-success"><span data-feather="github"></span></a>
        <a href="https://loi-flask.herokuapp.com/" class="btn btn-lg btn-danger"><span data-feather="eye"></span></a>
        <a href="{{ url_for('login_blp.login') }}" class="btn btn-lg btn-warning"><span data-feather="log-in"></span></a>
        <a href="{{ url_for('login_blp.getLogout') }}" class="btn btn-lg btn-secondary"><span data-feather="log-out"></span></a>
      </p>
    </main>
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p class="mt-5 mb-3 text-muted text-center"><a href="https://github.com/loitd/myflask">&copy;MyFlask</a> 2017-2020</p>
      </div>
    </footer>
  </div>
{% endblock %}

{% block footer %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/floating-labels.css') }}">    
  <script src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endblock %}
